<button type="button" class="hamburger" id="hamburger">
    &#9776; <!-- Hamburger icon -->
</button>

<!-- Menu Items -->
<nav class="menu" id="menu">
    <ul>
        <li><a href="../pages/about.html">About</a></li>
        <li><a href="../pages/learningjournal.html">Learning Journal</a></li>
        <li><a href="../pages/portfolio.html">Portfolio</a></li>
        <li><a href="../pages/contact.html">Contact</a></li>
    </ul>
</nav>