body { 
    font-family: "Inter", arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

video {
    object-fit: cover; 
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure video is behind other content */
}

/* Hamburger Menu */
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffe600;
    /* text-shadow: 3px -1px 2px #708A66; */
    cursor: pointer;
    z-index: 10; /* Zorg dat het menu-icon bovenop de video staat */
}

/* Verborgen menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 138, 102, 0.92);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9; /* Onder het hamburger-menu */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu.open {
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #ffe600;
    font-size: calc(1rem + 8vw);    
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #1d490b;
}


nav{
    color: #ffe600;
    font-size: calc(1rem + 10vw);
    line-height: 1;
    margin: 0;
    padding-left: 50px;
    /* text-shadow: 5px -2px 2px #ffdd00; */
    /* text-shadow: 5px -2px 2px #708A66; */

    .title{
        text-align: left;
    }

    .back-home {
        color: #ffe600;
        margin-top: 50px; /* Zorgt voor afstand van de bovenkant van de pagina */
        display: inline-block; /* Zorgt dat de margin werkt zoals verwacht bij inline-elementen */
        text-decoration: none;
        transition: transform 0.4s ease-in-out;
        font-size: 18px;    
    }
    
    .back-home:hover{
        transform: scale(1.1);
    }


}

/* Layout voor tekst en afbeelding naast elkaar */
.container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 20px;
    padding-top: 100px;
}

.blok {
    flex: 1 1 25%; /* Zorgt ervoor dat de blokken naast elkaar staan en schalen */
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(141, 141, 141, 0.8);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    color: white;
}

.blok:hover{
    transform: scale(1.1);
}

.blok h2{
    color: #ffe600;
}

.blok img {
    max-width: 75%;
    height: auto;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    padding-top: 5px;
}

.blok p{
    text-align: left;
}

.blok li{
    text-align: left;
}

.blok a {
    background-image: linear-gradient(rgba(255, 255, 255, 0.28) 50%, rgba(112, 138, 102, 0.8) 50%);
    background-size: 100% 200%;
    background-position: top;
    transition-duration: .4s;
    color: #ffffff;
    text-align: right;
    justify-content: right;
    border: 2px solid #ffffff;
    margin: 5px 0; /* Voeg verticale ruimte tussen de knoppen toe */
    text-decoration: none;
    border: 2px solid #708A66;
    border-radius: 20px;
    padding: 5px 15px;
    display: inline-block; /* Zorg dat de knoppen netjes onder elkaar staan */
}

.blok a:is(:hover, :focus-visible) {
    outline: none;
    background-position: bottom;
    color: #ffffff;
    border: 2px solid #708A66;
}

/* Verberg het nieuwe blok standaard */
.hidden-block {
    display: none;
}

/* Toon het nieuwe blok wanneer het target is */
#new-block:target {
    display: block;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}


@media (max-width: 768px) {
    .blok {
        flex-basis: 100%; /* Zorgt ervoor dat de blokken onder elkaar worden geplaatst op kleinere schermen */
    }
}

footer{
    color: #ffe600;
    padding-right: 50px;
    text-align: right;
    font-size: 18px;
}