{% render 'partials/head.liquid', title:'homepage' %}

{% render 'partials/nav.liquid' %}

<body class="article-body">

<header>
  <a class="back-home" href="/learning-journal">&#8592; Back to Learning Journal</a>
</header>


<div class="article-styling">
    {{ fileContents }}
</div>


</body>