{% render 'partials/head.liquid' %}


<div class="scroll-video-container" id="videoContainer">
  <video playsinline autoplay muted loop poster="../images/heroimage.png" id="bgvid">
    <source src="../videos/herovideo-min.mp4" type="video/mp4">
  </video>
</div>

<header>
  <a class="back-home" href="https://i-love-web-gddu.onrender.com">&#8592; Back to Home</a>
  <article class="title">
    <h1>Learning Journal</h1>
    <a class="jslog" href="../pages/jslog.html">Learn Programming Online &#8594;</a>
</header>

{% render 'partials/nav.liquid' %}

<section class="section">
  <h2>Mijn artikelen</h2>
  <div class="container">
    {% for file in files %}
    <a class="blok" href="/learning-journal/{{ file | slice:0,-3 }}">{{ file | slice:0,-3 }}</a>
    {% endfor %}
  </div>
</section>

<footer>
  <p>&#169; Copyright All Rights Reserved (2024).</p>
</footer>

</body>

</html>