{% render 'partials/head.liquid' %}


  <div class="scroll-video-container" id="videoContainer">
    <video playsinline autoplay muted loop poster="../images/heroimage.png" id="bgvid">
      <source src="../videos/herovideo-min.mp4" type="video/mp4">
    </video>
  </div>

  <header>
    <a class="back-home" href="https://renzowille.github.io/i-love-web/pages">&#8592; Back to Home</a>
    <article class="title">
      <h1>Learning Journal</h1>
      <a class="jslog" href="../pages/jslog.html">Learn Programming Online &#8594;</a>
  </header>

  {% render 'partials/nav.liquid' %}

  <section>
    <h2>Mijn artikelen</h2>
    {% for file in files %}
      <a href="/learning-journal/{{ file | slice:0,-3 }}">{{ file | slice:0,-3 }}</a>
  {% endfor %}
</section>
{{ files | json }}
  </section>


  <!-- Content met tekst en afbeeldingen -->
  <section class="container" lang="nl">

    <!-- Blok 1 -->
    <article class="blok">
      <h2>04/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Het tekenen van een wireframe voor de homepagina van de HVA met HTML.</li>
        <li>Het maken van een breakdown schets voor de profilecard met HTML.</li>
        <li>Het leegmaken van de body in de code van de profilecard en het opnieuw schrijven van de HTML om de
          profilecard opnieuw te ontwerpen.</li>
        <li>Het leegmaken van de CSS en het opnieuw toevoegen van de CSS in de code om een eigen stijl te ontwerpen.
        </li>
      </ul>

      <p>3 studievragen:</p>
      <ul>
        <li>Wat is het nut van een breakdown schets?</li>
        <li>Waar moet je op letten als je een breakdown schets maakt?</li>
        <li>Hoe maak je de zelfde breedte en hoogte voor de header en main elementen in CSS?</li>
      </ul>

      <!-- <div>
          <a>Read More</a>
        </div> -->
    </article>

    <!-- Blok 2 -->
    <article class="blok">
      <h2>05/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Het spelen met JavaScript in de inspector.</li>
        <li>Verder met de profilecard en een animatie invoegen dmv CSS.</li>
        <li>Ik had er tijdens de les wat moeite mee om mijn profilecard te laten flippen tijdens een hover, maar in
          de trein is het toch gelukt.</li>
        <li>Ik ben blij dat ik dit uiteindelijk helemaal zelf heb gedaan met behulp van een bron.</li>
      </ul>

      <p>3 studievragen:</p>
      <ul>
        <li>Wat is het nut van JavaScript?</li>
        <li>Wat is het verschil tussen JavaScript en CSS?</li>
        <li>Voor welke elementen kan ik het beste JS gebruiken en voor welke het beste CSS?</li>
      </ul>

    </article>

    <article class="blok">
      <h2>06/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Vandaag bezig geweest met de laatste aanpassingen voor de expo.</li>
        <li>Feedback gekregen en gegeven aan klasgenoten over de profilecards.</li>
      </ul>

    </article>

    <article class="blok">
      <h2>09/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Vandaag groepjes gemaakt voor het maken van een squad page.</li>
        <li>Team Canvas Basic ingevuld.</li>
        <li>Voorbeelden opgezocht voor ontwerpen voor de squad page.</li>
        <li>Amstel Campus doorgezocht.</li>
        <li>Ontwerp voor squad page gemaakt.</li>
      </ul>

      <p>3 dingen die ik heb geleerd:</p>
      <ul>
        <li>Wat een squad page is.</li>
        <li>Hoe te werken met Mori.</li>
        <li>Een goed design van een squad page.</li>
      </ul>

      <p>2 dingen die ik interessant vind:</p>
      <ul>
        <li>Het designen van een webpage.</li>
        <li>Het coderen van deze webpage.</li>
      </ul>

      <p>1 ding waar ik nog vragen over heb:</p>
      <ul>
        <li>Hoe kan ik het beste een squad page opmaken in HTML en CSS?</li>
      </ul>
    </article>

    <article class="blok">
      <h2>10/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>

      <p>3 dingen die ik heb geleerd:</p>
      <ul>
        <li>Hoe ik een kan grid gebruiken in CSS.</li>
        <li>De magische unit van grid is fr.</li>
        <li>@media (width>40em) betekent dat als het scherm groter wordt dan 40em, moet de body zich anders gaan
          gedragen.</li>
      </ul>

      <p>2 dingen die ik interessant vind:</p>
      <ul>
        <li>Op welke verschillende manieren je een grid kan opmaken.</li>
        <li>Hoe je je scherm kan aanpassen door grid-template-areas te gebruiken.</li>
      </ul>

      <p>1 ding waar ik nog vragen over heb:</p>
      <ul>
        <li>Ik snap soms nog steeds niet welke waarden ik moet gebruiken tijdens het opmaken van een grid in CSS.
        </li>
      </ul>
    </article>

    <article class="blok">
      <h2>12/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>

      <p>3 studievragen:</p>
      <ul>
        <li>Wat is een breakpoint?</li>
        <li>Wat zijn de principes van een responsive design?</li>
        <li>Waarom is een responsive design belangrijk?</li>
      </ul>

    </article>

    <article class="blok">
      <h2>16/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Geleerd over visuele hierarchie en de 4 dingen om ze te kunnen onderscheiden, namelijk, Grootte,
          Kleurcontrast, Witruimte, Positie.</li>
        <li>Geleerd hoe te werken met Figma.</li>
        <li>9 eigen schetsen gemaakt in Figma.</li>
      </ul>

      <p>3 dingen die ik heb geleerd:</p>
      <ul>
        <li>Geleerd over visuele hierarchie.</li>
        <li>Geleerd over de principes van visuele hierarchie en om ze toe te kunnen passen.</li>
        <li>Geleerd hoe te werken in Figma.</li>
      </ul>
    </article>


    <article class="blok">
      <h2>18/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Vandaag hebben we samen met het groepje alle schetsen uit Figma bij elkaar gelegd en een ontwerp gemaakt
          voor de squad page. Ook zijn we begonnen met het schrijven van code en heb ik met CSS een carousel
          gemaakt.</li>
      </ul>

      <p>3 dingen die ik heb geleerd:</p>
      <ul>
        <li>Het maken van een carousel in CSS met carousel-wrapper, en carousel-slider.</li>
        <li>Het opmaken van een carousel.</li>
        <li>Een functie toevoegen aan het carousel dat wanneer eroverheen gehoverd wordt de carousel stopt met
          sliden.</li>
      </ul>
    </article>


    <article class="blok">
      <h2>23/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Vandaag heb ik de opdrachtgever ontmoet en hebben we de briefing en debriefing gedaan met mijn groepje.
        </li>
      </ul>

      <p>3 dingen die ik heb geleerd:</p>
      <ul>
        <li>Geleerd hoe je moet briefen.</li>
        <li>Geleerd hoe je moet debriefen.</li>
        <li>Wat er bij de oplevering hoort.</li>
      </ul>

      <p>2 leervragen over wat je deze week wilt leren:</p>
      <ul>
        <li>Hoe kan ik het beste debriefen?</li>
        <li>Hoe kan ik het beste een HTML folder opstellen?</li>
      </ul>
    </article>


    <article class="blok">
      <h2>25/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Vandaag heb ik een wireframe, wireflow en een breakdownschets gemaakt over de pagina die ik ga bouwen
          voor de opdrachtgever. </li>
      </ul>

      <p>3 dingen die ik heb geleerd:</p>
      <ul>
        <li>Geleerd hoe je een wireframe moet maken.</li>
        <li>Geleerd hoe je een wireflow moet maken.</li>
        <li>Meer inzicht gekregen over hoe je vanuit een wireframe en flow schets over gaat naar het coderen.</li>
      </ul>
    </article>


    <article class="blok">
      <h2>27/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Vandaag heb ik feedback gekregen en gegeven op de HTML. Ik heb hierbij issues ingeschoten in Github en
          ik heb issues gekregen die ik meteen heb opgelost in de code.</li>
      </ul>
      <a href="https://github.com/RenzoWille/the-client-website/issues/2">Issue 1</a>
      <a href="https://github.com/RenzoWille/the-client-website/issues/3">Issue 2</a>
      <a href="https://github.com/RenzoWille/the-client-website/issues/4">Issue 3</a>
      <a href="https://github.com/RenzoWille/the-client-website/issues/5">Issue 4</a>
      <a href="https://github.com/RenzoWille/the-client-website/issues/6">Issue 5</a>
      <a href="https://github.com/RenzoWille/the-client-website/issues/7">Issue 6</a>


      <p>3 dingen die ik heb geleerd:</p>
      <ul>
        <li>Wat is het verschil tussen een "div" en een "article" element?</li>
        <li>Hoe kan ik het beste een HTML bestand opstellen?</li>
        <li>Hoe kan ik het beste een filter element toevoegen in HTML?</li>
      </ul>
    </article>


    <article class="blok">
      <h2>30/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Vandaag heb ik de opdracht gekregen om Layout Modes te gebruiken in CSS. </li>
      </ul>

      <p>3 dingen die ik heb geleerd:</p>
      <ul>
        <li>Ik heb geleerd wat flow layout, grid layout en flexible box layout is.</li>
        <li>Ik heb geleerd hoe ik grid-template-columns en grid-template-rows kan gebruiken met fr.</li>
        <li>Ik heb geleerd deze aan te spreken en over verschillende kolommen en rijen kan laten zien.</li>
      </ul>

      <p>Welke layout modes kan je gebruiken voor de opdracht van de opdrachtgever?</p>
      <ul>
        <li>Ik denk dat ik met grid en flex layout de hele pagina kan opbouwen.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>31/09/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag geleerd?</p>
      <ul>
        <li>Ik heb geleerd hoe je het beste leesbare teksten kan schrijven voor op een website en welke waardes je
          daarvoor moet toevoegen.</li>
      </ul>


    </article>

    <article class="blok">
      <h2>7/10/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>De 3 code conventies van vandaag:</p>
      <ul>
        <li>Het geven van ademruimte in de HTML.</li>
        <li>Het schrijven van de CSS selectors in dezelfde volgorde als HTML.</li>
        <li>Het nesten van CSS selectors en media queries.</li>
      </ul>


      <p>2 punten waarmee je de leesbaarheid van HTML en CSS kunt verbeteren:</p>
      <ul>
        <li>Het schrijven van comments bij de code.</li>
        <li>Het geven van ademruimte in CSS.</li>
      </ul>

      <p>Welke conventie ik vanaf nu ga opnemen in mijn eigen code:</p>
      <ul>
        <li>Ik ga het nesten van CSS selectors en media queries vanaf nu opnemen in mijn eigen code om het
          overzichtelijker te maken voor mezelf en mensen die mijn code gaan lezen.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>9/10/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Ik heb vandaag met mijn groepje de sprint review voorbereid die we morgen moeten houden met de
          opdrachtgever en heb de laatste aanpassingen gemaakt in mijn code voor de sprint review.</li>
      </ul>

      <p>3 leervragen:</p>
      <ul>
        <li>Hoe zorg ik ervoor dat ik mijn HTML en CSS code zo compact mogelijk kan schrijven?</li>
        <li>Hoe kan ik ervoor zorgen dat mijn CSS zo overzichtelijk mogelijk is?</li>
        <li>Hoe kan ik het beste mijn media queries schrijven als ik repsonsive wil maken voor mobiel?</li>
      </ul>
    </article>

    <article class="blok">
      <h2>14/10/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Ik heb vandaag een WCAG audit uitgevoerd op verschillende websites om de accessibility te controleren.
          Ook heb ik Lighthouse gebruikt om deze dingen te testen.</li>
      </ul>

      <p>Wat moet ik nog meer doen voor de WCAG Audfit presentatie van woensdag?</p>
      <ul>
        <li>Een screen reader test.</li>
        <li>Een interactive elements test.</li>
        <li>Een headings en landmarks test.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>18/10/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Ik heb vandaag code review gekregen van klasgenoten en feedback gegeven aan klasgenoten. Dit heb ik
          gedaan door de checklist te volgen en de validator te checken. Dit heb ik gedaan door het maken van
          issues.</li>
      </ul>

      <p>Uitbreiding van de checklist code review:</p>
      <ul>
        <li>Lighthouse test.</li>
        <li>Screen reader test.</li>
        <li>Contrast test.</li>
        <li>Keyboard test</li>
        <li>Zooming and scaling test</li>
      </ul>


    </article>

    <article class="blok">
      <h2>21/10/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Vandaag hebben we geleerd over het gebruiken van kleur contrasten op een website zodat iedereen een
          website kan gebruiken.</li>
      </ul>

      <p>Dit zijn de aantekeningen die ik heb gemaakt:</p>
      <img width="872" alt="Scherm­afbeelding 2024-10-21 om 12 34 34"
        src="https://github.com/user-attachments/assets/42e26773-d015-4e05-89b2-ea7ff2dc6eb0">

      <p>Bronnen die ik heb gebruikt:</p>
      <a href="https://css-tip.com/gradient-overlay-border-image/">Bron 1</a>
      <a href="https://www.smashingmagazine.com/2023/08/designing-accessible-text-over-images-part1/">Bron 2</a>

      <p>Issues die ik heb ingeschoten:</p>
      <a href="https://github.com/RenzoWille/all-human-accessible-website/issues/14">Issue 1</a>
      <a href="https://github.com/RenzoWille/all-human-accessible-website/issues/15">Issue 2</a>
      <a href="https://github.com/RenzoWille/all-human-accessible-website/issues/16">Issue 3</a>
      <a href="https://github.com/RenzoWille/all-human-accessible-website/issues/18">Issue 4</a>

      <p>3 dingen die ik vandaag heb geleerd:</p>
      <ul>
        <li>Het gebruiken van de W3C validator om de kleurcontrast te checken van een website.</li>
        <li>Hoe ik een blur op een achtergrond afbeelding kan zetten met CSS zodat de tekst er boven beter leesbaar
          is.</li>
        <li>Ik heb de Inclusive Design Principles leren kennen.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>23/10/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Laptop zonder muis bestuurd.</li>
        <li>Sprint Review voorbereid met groepje.</li>
        <li>ReadME geschreven als voorbereiding Sprint Review.</li>
      </ul>

      <p>2 verbeteringen die ik heb gemaakt in ReadME:</p>
      <ul>
        <li>Duidelijker beschreven wat ik heb gedaan en wat de veranderingen zijn geweest tov vorige sprint.</li>
        <li>Meer afbeeldingen toevoegen.</li>
      </ul>

      <p>Een ding wat ik anders ga aanpakken tijdens de Sprint Review:</p>
      <ul>
        <li>Meer vragen stellen en tijd inplannen voor het bespreken van de ReadME.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>11/11/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Huisstijlen.</li>
        <li>Het maken van een gedeelde styleguide met het groepje van de opdractgever.</li>
        <li>Het werken in Figma.</li>
      </ul>

      <p>3 dingen die ik vandaag heb geleerd:</p>
      <ul>
        <li>Het maken van een huisstijl.</li>
        <li>Het maken van een styleguide in Figma.</li>
        <li>Hoe ik een element binnen Figma kan aanpassen.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>13/11/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Het maken van een stylesheet in VSCode.</li>
      </ul>

      <p>3 dingen die ik vandaag heb geleerd:</p>
      <ul>
        <li>Het maken van een stylesheet.</li>
        <li>Het maken van een CSS strategie.</li>
        <li>Custom properties.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>18/11/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb ik vandaag gedaan?</p>
      <ul>
        <li>Het maken van een eigen font en deze toegevoegd in mijn eigen design.</li>
      </ul>

      <img width="1109" alt="Scherm­afbeelding 2024-11-18 om 12 47 21"
        src="https://github.com/user-attachments/assets/6a968744-f590-4eac-b4d0-75e71f0d8adb">
      <img width="1382" alt="Scherm­afbeelding 2024-11-18 om 12 47 47"
        src="https://github.com/user-attachments/assets/b1d08785-9e04-4795-801e-ba0346eb8a71">

      <p>3 dingen die ik vandaag heb geleerd:</p>
      <ul>
        <li>Het maken van een eigen font.</li>
        <li>Het maken van een OTF bestand.</li>
        <li>Het linken van een OTF bestand in mijn VSCode.</li>
      </ul>

      <p>Wat ga ik nu doen?</p>
      <ul>
        <li>Ik ga nu verder met mijn eigen opdracht en opnieuw mijn code schrijven ter voorbereiding op de sprint
          review van volgende week.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>20/11/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>3 dingen die ik heb geleerd in HTML, en link naar goede bronnen.</p>
      <ul>
        <li>Het schrijven van goede HTML voor de filter voor de opdrachtgever.</li>
        <li>Input types in HTML.</li>
        <li>Het goed opmaken van deze inputs in eigen HTML.</li>
      </ul>

      <a href="https://www.filamentgroup.com/lab/select-css.html">Bron 1</a>
      <a href="https://open-ui.org/components/customizableselect/">Bron 2</a>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#css">Bron 3</a>


      <p>3 dingen die ik vandaag heb geleerd over CSS:</p>
      <ul>
        <li>Input types stijlen.</li>
        <li>Het stijlen van een SVG.</li>
        <li>Het stijlen van de filter button voor de opdrachtgever.</li>
      </ul>

      <p>Wat ga ik hiervan gebruiken in de leertaak</p>
      <ul>
        <li>De input types in HTML heb ik al gebruikt in mijn vorige twee designs, alleen had ik daar een checkbox
          voor gebruikt. Nu heb ik er een select van gemaakt met option elementen erin zodat ze beter overeen
          komen met het design van de opdrachtgever. Ook heb ik nu betere HTML geschreven en kan ik deze kopiëeren
          naar mijn eigen repository.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>22/11/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Talk Emiel van Betsbrugge</p>
      <ul>
        <li>WebGL Developer.</li>
        <li>Stap 1: Pitch</li>
        <li>Stap 2: Discovery</li>
        <li>Stap 3: Design & Early Dev</li>
      </ul>
    </article>

    <article class="blok">
      <h2>25/11/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>De 3 Gestalt wetten:</p>
      <ul>
        <li>Law of Common Region; Elementen hebben de neiging om in groepen te worden gepercipieerd als ze een gebied
          delen met een duidelijk gedefinieerde grens.</li>
        <li>Law of Proximity; Objecten die dicht bij elkaar staan, worden meestal automatisch gegroepeerd.</li>
        <li>Law of Similarity; Het menselijk oog heeft de neiging om gelijksoortige elementen in een ontwerp waar te
          nemen
          als een compleet beeld, vorm of groep, zelfs als deze elementen van elkaar gescheiden zijn.</li>
      </ul>

      <a href="https://lawsofux.com/law-of-common-region/">Bron 1</a>
      <a href="https://lawsofux.com/law-of-proximity/">Bron 2</a>
      <a href="https://lawsofux.com/law-of-similarity/">Bron 3</a>


      <p>2 dingen die ik nog wil leren:</p>
      <ul>
        <li>Het beter toepassen van flex elementen om blokken te kunnen stijlen in CSS. En om ze goed uit te lijnen
          zodat
          ze responsive zijn.</li>
        <li>Het beter stijlen van mijn titel in mijn I Love Web, zodat deze beter past in het beeldscherm en responsive
          is
          op kleinere apparaten.</li>
      </ul>

      <p>Geef 1 iemand een compliment:</p>
      <ul>
        <li>Ik wil bij deze graag Krijn een compliment geven voor de feedback die hij me heeft gegeven op mijn I Love
          Web.
          Ik vond deze erg waardevol en ben er daarom meteen afgelopen weekend aan begonnen om de feedback toe te
          passen.
          Nadat ik de issues had opgelost kreeg ik bijna meteen weer feedback op mijn commits, wat ik erg waardeerde
          omdat
          het een zondag was.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>2/12/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb je vandaag gedaan?</p>
      <ul>
        <li>Het maken van een wireflow voor nieuw ontwerp voor opdrachtgever.</li>
        <li>Geleerd over feedback en feedforward.</li>
        <li>Sprint planning gemaakt.</li>
      </ul>

      <p>Hoe ver ben je met de deeltaak JS Fundamentals en wat wil je nog leren over JS.</p>
      <ul>
        <li>Ik ga vandaag beginnen aan de deeltaak.</li>
        <li>Ik wil graag leren hoe ik betere animaties kan maken met JS zodat ik minder CSS hoeft te schrijven.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>4/12/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb je vandaag gedaan?</p>
      <ul>
        <li>Het maken van een uitklapbare filter met JavaScript.</li>
        <li>Geleerd hoe ik JavaScript kan opbouwen.</li>
      </ul>

      <p>Hoe ver ben je met de deeltaak JS Fundamentals?</p>
      <ul>
        <li>Ik ben begonnen met de deeltaak en ben bij het deel 2: Basic Operations.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>6/12/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb je vandaag gedaan?</p>
      <ul>
        <li>Code en Design Reviews gegeven op de code van klasgenoten.</li>
        <li>Ervoor gezorgd dat mijn I Love Web score op Lighthouse overal 100 is.</li>
      </ul>

      <p>Hoe ver ben je met de deeltaak JS Fundamentals?</p>
      <ul>
        <li>Ik ben bij addition & multiplication van deel 2: Basic Operations.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>9/12/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Hoe veel van de 10 experimenten heb je al gemaakt?</p>
      <ul>
        <li>Ik heb vandaag 5 van de 10 experimenten kunnen maken.</li>
      </ul>

      <p>Bij welk gedragscriterium past deze deeltaak en wat moet je nog doen om het te kunnen toevoegen aan Portflow?
      </p>
      <ul>
        <li>Deze deeltaak past bij probleem oplossend vermogen, ik moet de deeltaak nog afmaken om deze toe te kunnen
          voegen aan Portflow.</li>
      </ul>

      <p>Welke UI Events kun je nog meer toepassen in de leertaak, voor de opdrachtgever?</p>
      <ul>
        <li>Ik ben nu bezig met mouse events toe te passen in de leertaak. Misschien dat ik ook nog ergens een keyboard
          event kan toevoegen.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>11/12/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb je vandaag geleerd over HTML? Wat over CSS? En wat over JS?</p>
      <ul>
        <li>Ik heb vandaag geleerd dat we een required tag toe kunnen voegen in een formulier om zo ervoor te zorgen dat
          gebruikers vershillende velden verplicht in moeten vullen.</li>
        <li>Ik heb vandaag geleerd dat ik een :hover tag kan gebruiken op een button om er zo voor te zorgen dat wanneer
          er over de button gehoverd wordt, deze een andere stijling heeft dan de niet hover state.</li>
        <li>Ik heb vandaag geleerd dat ik de tekst van een verplicht veld kan bewerken om deze meer te personaliseren.
        </li>
      </ul>


      <p>Wat ga je voor vrijdag nog toevoegen aan je micro-interactie voor de opdrachtgever?</p>
      <ul>
        <li>Voor vrijdag ga ik nog een toevoeging doen aan mijn micro-interactie om ervoor te zorgen dat gebruikers het
          "functies" menu makkelijk met feedforward ook weer kunnen sluiten. Dit ga ik doen door een kruisje te
          programmeren in de button wanneer deze is geopend.</li>
      </ul>

      <p>Welke functionaliteit wil je vrijdag laten testen?</p>
      <ul>
        <li>Ik wil sowieso testen dat mensen de functie elementen kunnen navigeren met een keyboard. Ook wil ik kijken
          of
          de button ook weer gesloten kan worden door middel van de navigatie met een keyboard.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>16/12/2024</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb je vandaag geleerd? Noem 3 dingen:</p>
      <ul>
        <li>Ik heb vandaag geleerd wat straatnaambordjes en wegwijzeringen zijn in navigatie op een website.</li>
        <li>Ik heb vandaag geleerd dat er verschillende icons gebruikt kunnen worden om een hamburger menu na te
          bootsen.
        </li>
        <li>Ik heb vandaag geleerd dat ik nog wat beter gebruik kan maken van feedforward door een hover element toe te
          voegen aan mijn button.</li>
      </ul>


      <p>Wat ga je voor vrijdag nog toevoegen aan je micro-interactie voor de opdrachtgever?</p>
      <ul>
        <li>Ik wil nog ervoor zorgen dat de tekst "sluiten" in de button verschijnt als er op geklikt wordt.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>6/1/2025</h2>
      <h3>Een lijst van alle criteria en indicatoren</h3>
      <p>Ik wil nog meer bewijslast voor de volgende dingen:</p>
      <ul>
        <li>Meer bewijslast voor het werken in de JS fundamentals.</li>
        <li>Meer bewijslast in het algemeen over het werken met JavaScript.</li>
        <li>Uitgebreider bewijslast beschrijven in Portflow aan de hand van de feedback van Dion.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>13/1/2025</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb je vandaag gedaan?</p>
      <ul>
        <li>Vandaag heb ik een interactie geschetst voor de opdracht voor de opdrachtgever, ik ga een zoekbalk maken
          waarin de vacatures automatisch gefilterd worden.</li>
      </ul>

      <p>Wat heb je vandaag geleerd?</p>
      <ul>
        <li>Ik heb vandaag geleerd hoe ik het beste semantische HTML kan opbouwen door beter gebruik te maken van
          'section', 'article', 'aside' en 'header' en 'footer' elementen.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>15/1/2025</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Beschrijf 3 nieuwe CSS properties die je nog niet kende</p>
      <ul>
        <li>Transform skill</li>
        <li>Page transition</li>
        <li>Animation duration</li>
      </ul>

      <p>Beschrijf 2 animatie principes die je nog niet helemaal begrijpt</p>
      <ul>
        <li>Straight-ahead & pose-to-pose</li>
        <li>Solid drawing</li>
      </ul>

      <p>Beschrijf 1 animatie principe dat je toe gaat voegen aan je eigen I Love Web website</p>
      <ul>
        <li>Ease-in & Ease-out</li>
      </ul>

      <p>Wat heb je vandaag geleerd?</p>
      <ul>
        <li>Ik heb vandaag geleerd een JavaScript file op te bouwen volgens het 3-stappenplan</li>
      </ul>

      <a href="https://codepen.io/Renzo-Wille/pen/dPbKbVK">Codepen.io</a>
    </article>

    <article class="blok">
      <h2>7/2/2025</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb je vandaag gedaan?</p>
      <ul>
        <li>Vandaag hebben we een code en design review gehad en feedback gegeven en gekregen op de visitekaartjes van
          klasgenoten.</li>
      </ul>

      <p>Interessante take-aways na het kijken van andermans code.</p>
      <ul>
        <li>grayscale() element</li>
        <li>Uitzoeken wat :before en :after elementen doen</li>
      </ul>
    </article>

    <article class="blok">
      <h2>10/2/2025</h2>
      <h3>De 1 Minute Paper ↓</h3>
      <p>Wat heb je vandaag gedaan?</p>
      <ul>
        <li>Vandaag hebben we groepjes gemaakt voor de squad page, zijn bezig geweest met data op te halen uit de URL en
          hebben de eerste schetsen gemaakt.</li>
      </ul>

      <p>Wat heb ik vandaag geleerd?.</p>
      <ul>
        <li>?sort= in de URL voor de data op te zoeken</li>
        <li>?filter= in de URL voor de data op te zoeken</li>
      </ul>
    </article>

    <article class="blok">
      <h2>28/2/2025</h2>
      <h3>Vragenlijst/ Zelftest</h3>

      <ul>
        <li>1.Ik kan uitleggen wat NodeJS is en waarvoor het gebruikt wordt: 2 punten</li>
        <li>2.Ik weet wat het doel van package.json is en heb hier aanpassingen in gemaakt: 2 punten</li>
        <li>3.Ik heb met npm packages geïnstalleerd en gebruikt in het bestand server.js: 3 punt</li>
        <li>4.Ik kan met commando’s in de terminal een NodeJS project stoppen en starten: 3 punten</li>
        <li>5. Ik weet waarom ik mijn NodeJS project regelmatig moet herstarten en kan dit uitleggen: 3 punten</li>
        <li>6. Ik heb een strategie voor debuggen in NodeJS: 0 punten</li>
        <li>7. Ik kan uitleggen wat Express.js doet en waarom het nodig is om met NodeJS een website te bouwen: 1 punt
        </li>
        <li>8. Ik weet wat routes zijn en kan zelf een nieuwe route aanmaken: 3 punten</li>
        <li>9. Ik weet wat request en response argumenten zijn ineen functie voor het laden van data: 1 punt</li>
        <li>10. Ik heb gebruik gemaakt van een request parameter om specifieke data te laden: 2 punten</li>
        <li>11. Ik kan uitleggen wat Liquid doet en waarom het nodig is om met Express.js een website te maken: 1 punt
        </li>
        <li>12. Ik weet hoe ik data naar Liquid verstuur om dit te gebruiken bij het renderen van een pagina: 2 punten
        </li>
        <li>13. Ik weet hoe ik Liquid filters toe kan passen en waar ik kan vinden hoe die werken: 1 punt</li>
        <li>14. Ik heb een nieuwe route gemaakt en nieuwe data meegegeven aan een Liquid view: 2 punten</li>
        <li>15. Ik weet waar een foreach loop voor gebruikt wordt en pas het toe in een Liquid view om HTML te renderen:
          2
          punten</li>
        <li>16. Ik kan in Liquid een controle maken waarmee de avatar niet getoond wordt als deze niet in whois.fdnd.nl
          is
          ingevuld: 2 punten</li>
        <li>17. Ik heb een strategie voor debuggen in Liquid: 0 punten</li>
        <li>18. Ik kan data fetchen uit een REST API: 1 punt</li>
        <li>19. Ik snap het verschil tussen HTTP requests van de methodes GET en POST: 2 punten</li>
        <li>20. Ik kan data uit eenREST API filteren of sorteren: 2 punten</li>
        <li>21. Ik snap wat het async keyword doet in JavaScript code: 0 punten</li>
        <li>22. Ik weet wat het doel is van een try/catch block en kan het gebruiken bij het parsen van JSON: 0 punten
        </li>
        <li>23. Ik begrijp het verschil tussen client-side JavaScript en server-side JavaScript en wanneer ik welke het
          handigst in kan zetten: 1 punt</li>
        <li>24. Ik kan formulier data die is ge-POST opslaan ineen variabele op de server en gebruiken bij het renderen
          van een pagina: 1 punt</li>
        <li>25. Ik kan formulier data die is ge-POST door middel van een POST of PATCH HTTP request opslaan in de REST
          API: 0 punten</li>
      </ul>
      <p><strong>32 punten totaal</strong></p>
    </article>

    <article class="blok">
      <h2>7/3/2025</h2>
      <h3>We Love Web - Cassie Evans</h3>
      <ul>
        <li>Werkt bij GSAP</li>
        <li>Animation Library that allows you to animate everything</li>
        <li>Veel 3d animaties en 2d animaties, heel veel creativiteit</li>
        <li>An extensive library with so many features</li>
        <li>Timelines can be used to get a direct sequence</li>
        <li>Scroll triggers is de meest populaire</li>
        <li>GSAP is an animation toolbox</li>
        <li>GSAP Utils</li>
        <li>utils.mapRange om animaties te baseren op een bepaalde screenwidth of screenheight</li>
        <li>gsap.Ease: deze visualizer zorgt ervoor dat je een animatie kan toevoegen met een soort glitch er in.</li>
        <li>matchMedia() is gsap's version of media queries in CSS</li>
        <li>Control methods can be used to control the playhead of the animation, like a video on YouTube</li>
        <li>Helper functions can be used to give solutions to clients with problems</li>
        <li>Container Animation: Horizontal scroll while scrolling vertically - with animations</li>
      </ul>
    </article>

    <article class="blok">
      <h2>28/3/2025</h2>
      <h3>We Love Web - Ischa Gast</h3>
      <ul>
        <li>Toegankelijkheid</li>
        <li>Toegankelijkheid is voor Ischa een soort van liefde geven aan anderen.</li>
        <li>In de top 1 miljoen websites ter wereld zijn er gemiddeld 56,8 errors per website gevonden op het gebied van toegankelijkheid.</li>
        <li>Deze errors komen in de meeste gevallen uit ontwetendheid.</li>
        <li>Visuele, motorische, auditieve, cognitieve beperkingen heeft iedereen wel is last van gehad.</li>
        <li>Toegankelijkheid is geen rocket science, je moet er gewoon logisch over nadenken</li>
        <li>Gebruik correcte HTML, koppen structuur goed indelen, lees meer links extra tekst toevoegen, gebruik goede focus styles, contrast</li>
        <li>Pagespeed Insights om accessibility te tracken van een website met tips over wat er beter kan.</li>
        <li>TPGi om contrasten te bekijken op websites en welke je aan moet passen.</li>
      </ul>
    </article>

    <article class="blok">
      <h2>4/4/2025</h2>
      <h3>Vragenlijst/ Zelftest</h3>

      <ul>
        <li>1.Ik kan uitleggen wat NodeJS is en waarvoor het gebruikt wordt: 2 punten</li>

        <!-- NodeJS is een omgeving waarmee je server-side JavaScript kan runnen op een server. -->
         
        <li>2.Ik weet wat het doel van package.json is en heb hier aanpassingen in gemaakt: 2 punten</li>

        <!-- Hier wordt de JSON geladen die gebruikt kan worden in de Liquid bestanden. -->

        <li>3.Ik heb met npm packages geïnstalleerd en gebruikt in het bestand server.js: 3 punten</li>

        <!-- Dit heb ik gedaan door een nieuwe terminal te openen en 'npm install' in te voeren als command. -->
        
        <li>4.Ik kan met commando’s in de terminal een NodeJS project stoppen en starten: 3 punten</li>

        {% comment %} Ik stop een project met 'control C' en ik start een project met 'npm start' {% endcomment %}

        <li>5. Ik weet waarom ik mijn NodeJS project regelmatig moet herstarten en kan dit uitleggen: 3 punten</li>

        {% comment %} De reden dat ik mijn NodeJS project regelmatig moet herstarten is omdat als ik in de server werk en daar aanpassingen in maak, moet de server opnieuw ingeladen worden om alle aanpassingen te verwerken. Daarom moet ik hem opstarten, zodat het alles kan verwerken en dan kan ik weer door. {% endcomment %}

        <li>6. Ik heb een strategie voor debuggen in NodeJS: 2 punten</li>

        {% comment %} De strategie die ik gebruik is het gebruik maken van 'console.log', hierbij ga ik stap voor stap bij elke regel code kijken wat er gebeurd. {% endcomment %}
        
        <li>7. Ik kan uitleggen wat Express.js doet en waarom het nodig is om met NodeJS een website te bouwen: 2 punten
        </li>
        
        {% comment %} Express.js is een framework voor NodeJS en het hel[t je om een webserver op te bouwen. {% endcomment %}

        <li>8. Ik weet wat routes zijn en kan zelf een nieuwe route aanmaken: 3 punten</li>

        {% comment %} Een route is eigenlijk een weg die je aanmaakt naar een nieuwe pagina, hierbij gebruik je 'app.get' en zorg je er dus voor dat dit een linkje is als het ware naar een pagina waar je code voor gaat schrijven. {% endcomment %}
        
        <li>9. Ik weet wat request en response argumenten zijn in een functie voor het laden van data: 2 punten</li>

        {% comment %} Het gebruiken van request en response is eigenlijk dat je iets opvraagt uit de database en doorgeeft aan de server. {% endcomment %}
        
        <li>10. Ik heb gebruik gemaakt van een request parameter om specifieke data te laden: 3 punten</li>

        {% comment %} Door 'request.params.id' te gebruiken heb ik ervoor gezorgd dat ik specifieke kunstwerken kon ophalen uit de database. {% endcomment %}
        
        <li>11. Ik kan uitleggen wat Liquid doet en waarom het nodig is om met Express.js een website te maken: 2 punten
        </li>

        {% comment %} Liquid kan je gebruiken op makkelijk data op te halen uit een database met zo min mogelijk regels code. {% endcomment %}
        
        <li>12. Ik weet hoe ik data naar Liquid verstuur om dit te gebruiken bij het renderen van een pagina: 3 punten
        </li>

        {% comment %} Het versturen van data in Liquid wordt gedaan met JSON data, hierbij halen we het op en versturen we het weer. {% endcomment %}
       
        <li>13. Ik weet hoe ik Liquid filters toe kan passen en waar ik kan vinden hoe die werken: 2 punten</li>

        {% comment %} Het toepassen van Liquid filters doe je met '|', zo zet je een spatie tussen de code en kan je filteren op een specifiek command. {% endcomment %}
        
        <li>14. Ik heb een nieuwe route gemaakt en nieuwe data meegegeven aan een Liquid view: 3 punten</li>

        {% comment %} Ik heb verschillende nieuwe routes gemaakt voor verschillende pagina's en data meegegeven. {% endcomment %}

        <li>15. Ik weet waar een foreach loop voor gebruikt wordt en pas het toe in een Liquid view om HTML te renderen:
          2 punten</li>

          {% comment %} Een foreach loop wordt gebruikt om door elk item in een array te gaan om data te renderen. {% endcomment %}
       
          <li>16. Ik kan in Liquid een controle maken waarmee de avatar niet getoond wordt als deze niet in whois.fdnd.nl
          is
          ingevuld: 2 punten</li>

          {% comment %} Ik heb ervoor gezorgd in de voroge sprints om een andere avatar te laten zien als een student geen avatar had ingesteld in whoisfdnd. {% endcomment %}
        
        <li>17. Ik heb een strategie voor debuggen in Liquid: 0 punten</li>
        <li>18. Ik kan data fetchen uit een REST API: 2 punten</li>

        {% comment %} Dit doe ik met 'await fetch' en dan de link erbij van de data die ik moet ophalen. {% endcomment %}

        <li>19. Ik snap het verschil tussen HTTP requests van de methodes GET en POST: 2 punten</li>

        {% comment %} De HTTP-methode GET haalt gegevens op van de server, terwijl POST gegevens naar de server stuurt om bijvoorbeeld iets op te slaan. {% endcomment %}

        <li>20. Ik kan data uit een REST API filteren of sorteren: 2 punten</li>

        {% comment %} Dit doe ik door de link te pakken en '?filter=' toe te voegen of '?fields=' te gebruiken. {% endcomment %}

        <li>21. Ik snap wat het async keyword doet in JavaScript code: 1 punt</li>

        {% comment %} Je kan await gebruiken om promises te gebruiken zonder andere code te blokkeren? {% endcomment %}

        <li>22. Ik weet wat het doel is van een try/catch block en kan het gebruiken bij het parsen van JSON: 0 punten
        </li>
        <li>23. Ik begrijp het verschil tussen client-side JavaScript en server-side JavaScript en wanneer ik welke het
          handigst in kan zetten: 3 punten</li>

          {% comment %} Client-side JS is JS die je gebruikt voor het gedrag van de website aan de voorkant, Server-side JS is JS die je gebruikt om data mee te verwerken aan de achterkant. {% endcomment %}

        <li>24. Ik kan formulier data die is ge-POST opslaan in een variabele op de server en gebruiken bij het renderen
          van een pagina: 2 punten</li>

          {% comment %} Dit doe ik door de POST methode toe te passen en deze op te laten slaan in de database. {% endcomment %}

        <li>25. Ik kan formulier data die is ge-POST door middel van een POST of PATCH HTTP request opslaan in de REST
          API: 2 punten</li>
          
          {% comment %} Dit doe ik door een link te gebruiken naar de database om zo de data daar naartoe te sturen. {% endcomment %}
      </ul>
      <p><strong>53 punten totaal</strong></p>
    </article>



  </section>

  <footer>
    <p>&#169; Copyright All Rights Reserved (2024).</p>
  </footer>

</body>

</html>